* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    width: 200px;
    background-color: snow;
    margin: 30px 10px;
    transition: all 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.205);
}

img {
    width: 100%;
    height: 40%;
    object-fit: cover; /*原圖等比例縮放*/ 
}

.card-body {
    margin:0 10px;
}

.card-text {
    padding-bottom: 30px;
}

.card-title {
    font-size: 1.5rem;
    margin: 10px 0;
}

.btn {
    text-decoration: none;
    background-color: chocolate;
    color: white;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 10px;
    display: block; /*因為超連結是超連結(行內元素)，故轉成區塊元素，才可以設定寬高*/
    text-align: center;
}